<h1>Holidays this month</h1>
<ul>
	<% @holidays.each do |day| %>
		<li> <%= day["name"] %>
			 <%= day["date"] %>
			 <%= day["country"] %>
		</li>
	<% end %>
</ul>
<h1>Birthday month holidays</h1>
<ul>
	<% @birthday.each do |day| %>
		<li> <%= day["name"] %>
			 <%= day["date"] %>
			 <%= day["country"] %>
		</li>
	<% end %>
</ul>
