<h1>Holidays of the date entered</h1>
<ul>
  <% @holidays.each do |day| %>
    <li> <%= day["name"] %>
       <%= day["date"] %>
       <%= day["country"] %>
    </li>
  <% end %>
</ul>


<%= params %>
<form>
  <select name="month" value="<%= params[:month] %>">
    <option value="1" <%= 'selected="selected"' if params[:month] == 'January' %>>January</option>
    <option value="2" <%= 'selected="selected"' if params[:month] == 'Febuary' %>>Febuary</option>
    <option value="3" <%= 'selected="selected"' if params[:month] == 'March' %>>March</option>
    <option value="4" <%= 'selected="selected"' if params[:month] == 'April' %>>April</option>
    <option value="5" <%= 'selected="selected"' if params[:month] == 'May' %>>May</option>
    <option value="6" <%= 'selected="selected"' if params[:month] == 'June' %>>June</option>
    <option value="7" <%= 'selected="selected"' if params[:month] == 'July' %>>July</option>
    <option value="8" <%= 'selected="selected"' if params[:month] == 'August' %>>August</option>
    <option value="9" <%= 'selected="selected"' if params[:month] == 'September' %>>September</option>
    <option value="10" <%= 'selected="selected"' if params[:month] == 'October' %>>October</option>
    <option value="11" <%= 'selected="selected"' if params[:month] == 'November' %>>November</option>
    <option value="12" <%= 'selected="selected"' if params[:month] == 'December' %>>December</option>
  </select>
  <select name="country" value="<%= params[:country] %>">
    <option value="US" <%= 'selected="selected"' if params[:country] == 'USA' %>>USA</option>
    <option value="GB" <%= 'selected="selected"' if params[:country] == 'Great Britain' %>>Great Britain</option>
    <option value="BR" <%= 'selected="selected"' if params[:country] == 'Brazil' %>>Brazil</option>
    <option value="BE" <%= 'selected="selected"' if params[:country] == 'Belgium' %>>Belgium</option>
  </select>
  Pick a Year:<input type="number" name="year" value="<%= params[:year] %>" required>
  <button type="submit">Submit</button>
</form>